spring:
  application:
    name: JiaLe-ChatWeb-Test
  datasource:
    url: jdbc:h2:mem:jiale_chat;MODE=MySQL;DATABASE_TO_UPPER=false;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  sql:
    init:
      mode: always
      schema-locations: classpath:db/schema.sql
  data:
    redis:
      enabled: false
      host: localhost
      port: 6379
mybatis:
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: true
logging:
  level:
    root: WARN
security:
  jwt:
    secret: 12345678901234567890123456789012_test_secret_key
    expiration-minutes: 60
    issuer: TestIssuer
